.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/page-background-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2; /* Ensure it is behind the overlay and content */
}

.body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the rgba value to control the darkness */
  z-index: -1; /* Ensure it is between the image and content */
}

.body2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/image9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2; /* Ensure it is behind the overlay and content */
}

.body2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the rgba value to control the darkness */
  z-index: -1; /* Ensure it is between the image and content */
}
nav {
  background: rgba(0, 0, 0, 0.7);
}
.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: orange;
}

.navbar-brand p:hover {
  color: orange;
}
.img-preview {
  width: 256px;
  height: 256px;
  position: relative;
  border: 5px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  margin-bottom: 1em;
}

#icon-paragraph img {
  margin-right: 15px; /* Adjust the space between the icon and the text */
  float: left;
}

.img-preview > div {
  width: 100%;
  height: 100%;
  background-size: 256px 256px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="file"] {
  display: none;
}

.upload-label {
  display: inline-block;
  padding: 12px 30px;
  background: orange;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.upload-label:hover {
  background: #34495e;
  color: white;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
